#buscadorClientes, #buscadorClientesListar {
  margin-bottom: 16px;
  max-width: 400px;
}

.table th, .table td {
  vertical-align: middle;
  text-align: left;
}

#tablaClientes tr, #tablaClientesListar tr {
  transition: background 0.2s;
}

#tablaClientes tr:hover, #tablaClientesListar tr:hover {
  background: #dde4fb;
}
